@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
}
.container .title {
  text-transform: uppercase;
  color: hsl(186, 14%, 43%);
  font-size: 42px;
  letter-spacing: 10px;
  margin: 50px 0;
  line-height: 120%;
}

.splitter {
  background-color: hsl(189, 41%, 97%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 30px 30px;
  width: 100%;
}
.splitter__bill, .splitter__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.splitter__bill p, .splitter__people p {
  width: 50%;
}
.splitter__bill p.error, .splitter__people p.error {
  visibility: hidden;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.701);
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}
.splitter .subtitle {
  color: hsl(186, 14%, 43%);
  font-size: 24px;
  margin: 50px 0 30px;
}
.splitter .subtitle--special {
  margin: 0px;
  color: hsl(0, 0%, 100%);
}
.splitter__bill-value, .splitter__number-people {
  background-color: #e9f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}
.splitter__bill-value input.number, .splitter__number-people input.number {
  background-color: transparent;
  border: none;
  color: hsl(183, 100%, 15%);
  font-size: 30px;
  text-align: right;
  width: 60%;
  outline: none;
}
.splitter__bill-value div img, .splitter__number-people div img {
  width: 150%;
}
.splitter__tip .tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.splitter__tip .tips .tip {
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 32px;
  padding: 15px 0;
  text-align: center;
}
.splitter__tip .tips .tip--custom {
  background-color: #e9f4f6;
  color: hsl(186, 14%, 43%);
  width: 100%;
}
.splitter__score {
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  padding: 30px 50px;
  margin: 50px 0;
}
.splitter__score .reset {
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-size: 28px;
  padding: 18px;
  text-transform: uppercase;
  width: 100%;
}
.splitter__summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.splitter__summary .summary {
  color: hsl(172, 67%, 45%);
  font-size: 48px;
}
.splitter__tip-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.splitter__tip-amount p {
  color: hsl(185, 41%, 84%);
}

@media screen and (min-width: 992px) {
  .container {
    margin: 0 auto;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .splitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .splitter__bill-value, .splitter__number-people {
    cursor: pointer;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border: 1px solid hsl(189, 41%, 97%);
    border-radius: 5px;
  }
  .splitter__bill-value:hover, .splitter__number-people:hover {
    border: 1px solid hsl(172, 67%, 45%);
  }
  .splitter__data {
    width: 45%;
  }
  .splitter__tip .tips {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .splitter__tip .tips .tip {
    border: 1px solid hsl(183, 100%, 15%);
    cursor: pointer;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .splitter__tip .tips .tip:hover {
    background-color: hsl(172, 67%, 45%);
    border: 1px solid hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }
  .splitter__tip .tips .tip--custom {
    background-color: transparent;
    border: 1px solid transparent;
    color: hsl(172, 67%, 45%);
  }
  .splitter__tip .tips .tip--custom:hover {
    background-color: transparent;
    border: 1px solid hsl(172, 67%, 45%);
    color: hsl(172, 67%, 45%);
  }
  .splitter__score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    width: 45%;
    margin-bottom: 0;
  }
  .splitter__score .reset {
    cursor: pointer;
    margin-top: auto;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .splitter__score .reset:hover {
    background-color: hsl(185, 41%, 84%);
  }
  .splitter__summary {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 70%;
  }
}
.splitter__tip .tips .tip.active {
  border: 1px solid hsl(172, 67%, 45%);
  background-color: hsl(172, 67%, 45%);
}

.splitter__tip .tips .tip.active:hover {
  color: hsl(0, 0%, 100%);
  cursor: default;
}

.splitter__tip .tips .tip--custom.active {
  border: 1px solid hsl(172, 67%, 45%);
  background-color: transparent;
}

.splitter__tip .tips .tip--custom.active:hover {
  color: hsl(172, 67%, 45%);
}/*# sourceMappingURL=style.css.map */